In [2]:
import numpy as np
import pandas as pd
import urllib

In [8]:
page = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
content = page.read()
string_content = content.decode('UTF-8')
table = string_content[string_content.find("<table"):string_content.find("</table>")+8]

In [13]:
df = pd.read_html(table, header = 0)[0]
df = df[df.Borough!="Not assigned"]
df.Neighbourhood[df.Neighbourhood == "Not assigned"] = df.Borough[df.Neighbourhood == "Not assigned"]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [19]:
def concatenate_neighbourhood(x):
    cd = ""
    for i in range(len(x)-1):
        cd = cd + x.iloc[i] + ", "
    cd += x.iloc[-1]
    return cd

def select_Borough(x):
    r = x.iloc[0]
    for i in range(1, len(x)):
        if r != x.iloc[i]:
            for i in x:
                print(x)
            raise Exception("Postcode comprises two Boroughs")
    return r

In [21]:
df_new = df.groupby(["Postcode"]).agg({"Borough": lambda x: select_Borough(x),
                                 "Neighbourhood": lambda x: concatenate_neighbourhood(x)})
df_new.head()

              Borough                           Neighbourhood
Postcode
M1B       Scarborough                          Rouge, Malvern
M1C       Scarborough  Highland Creek, Rouge Hill, Port Union
M1E       Scarborough       Guildwood, Morningside, West Hill
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae

In [23]:
df_new.shape

(103, 2)